body {
    
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --button-theme: #dddddd;
    --button-text: #000000;
    --theme-shadow: #00000036;
    --theme-light: #ffffff;
    --theme-background: #e6e6e6;
    --theme-button-anim1: #5ac0579c;
    --theme-light-anim1: #8aff86;
    --theme-textbox-background: #f3f3f3;
    --theme-scrollbar-thumb: #d3d3d3;
    --theme-scrollbar-thumb-hover: #c4c4c4;
    --theme-scrollbar-thumb-active: #a1a1a1;
    --theme-animation-speed: 250ms;
    --theme-animation-color-ripple: #ffffff7c;

    background-color: var(--theme-background);
    width: 50%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}

@keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
}

@keyframes press{
    0%{
        border: hidden;
        box-shadow: 2px 2px 3px var(--theme-shadow),
                -2px -2px 3px var(--theme-light);
    }
    70%{
        border: hidden;
        box-shadow: -2px -2px 3px var(--theme-shadow),
                2px 2px 3px var(--theme-light);
    }
    100%{
        border: hidden;
        box-shadow: 2px 2px 3px var(--theme-shadow),
                -2px -2px 3px var(--theme-light);
    }
}

label{
    margin: 5px;
    display: inline-block;
}

.button {
    position: relative;
    overflow: hidden;
    min-height: 36px;
    padding-left: 18px;
    padding-right: 18px;
    border-style: hidden;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--theme-shadow),
                -2px -2px 3px var(--theme-light);
    background-color: var(--button-theme);
    color: var(--button-text);
    margin: 5px;
}

.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: var(--theme-animation-color-ripple);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.button:focus:not(:active)::after{
    /*animation: ripple 0.5s ease-out;*/
}

.button:focus:not(:active){
    animation: press var(--theme-animation-speed) ease-out
}

.button[copied]{
    background: var(--theme-button-anim1)
}

.textField {
    margin: 5px;
    background-color: var(--theme-textbox-background);
    padding: 18px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--theme-shadow) inset,
                -2px -2px 3px var(--theme-light) inset;
    word-wrap: normal;
    resize: vertical;
    transition: all var(--theme-animation-speed) ease-in-out;
    scrollbar-width: thin;
    outline: none;
}

.singleLine{
    min-height: 28px;
    padding: initial;
    padding-left: 18px;
    padding-right: 18px;
}

.multiLine{
    height: 200px;
    width: 400px;
}

.textField::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

.textField::-webkit-scrollbar-thumb {
    display: block;
    background-color: var(--theme-scrollbar-thumb);
    cursor: pointer;
}

.textField::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-scrollbar-thumb-hover);
}

.textField::-webkit-scrollbar-thumb:active {
    background-color: var(--theme-scrollbar-thumb-active);
}

label {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

@media only screen and (max-width: 700px){
    .multiLine{
        width: 80%
    }
}